<!DOCTYPE html>
<html>
    <head>
        <title>HoopFinder</title>
        <!-- {% load static %} -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'hoopfinder/css/styles.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="../../static/hoopfinder/css/styles.css">
    

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        
    </head>
    <body>

        <!-- make the navigation bar on its own file and just attach it in every page -->
    
        <div class="container" id="courtsbody">
            <div class = "navigationbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">HoopFinder!</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Maps</a>
                        <a class="nav-item nav-link" href="#">Users</a>
                        <a class="nav-item nav-link" href="#">Courts</a>
                        <a class="nav-item nav-link" href="#">Logout</a>
                        
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-12" id="weatherdiv">
            
                    <img id="temperatureicon" src="http://openweathermap.org/img/w/{{icon}}.png" alt="">
             
                    <p id="temperaturep" class="text-capitalize">{{ftemperature|floatformat:2}}°F {{description}}</p> 

     
            </div>
        

            <div class="showcourtmaindiv">
                <div class ="row">
                    <div class="col-lg-3" id="leftcontentcourt">
                        <div class="mapdiv">
                            <p>map goes here</p>
                        </div>
                        <p>location: {{court.address}}, {{court.city}}, {{court.state}}. {{court.zipcode}}</p>

                    </div>

                    <div class="col-lg-6" id="maincontentcourt">
                        <div class="courtimagediv">
                            <img id="courtimg" src ="{{court.imagelink}}" alt="">
                        </div>
                        <div class="maincontenttext">
                            <p class="text-capitalize">Court's Name: {{court.name}}</p>
                            <p>Rating: ******</p>
                            <p>
                        </div>

                        <div class="courtreviewdiv">
                            <!-- gonna have to change this to loop through the courts review -->
                            <div class="rowreview">
                                <div class="reviewauthor">
                                    <p class ="userreviewname"><a href="#">Daryll O.</a></p>
                                    <p>San Jose, CA</p>
                                    <p>Rating: *****</p>
                                </div>
                                <div class="reviewtext">
                                    <p>This is such an awesome court. The hoop seems bigger than usual tho, since i've been cooking it like James Harden.
                                            This is such an awesome court. The hoop seems bigger than usual tho, since i've been cooking it like James Harden.
                                    </p>
                                </div>
                            </div>

                            <div class="rowreview">
                                    <div class="reviewauthor">
                                        <p class ="userreviewname"><a href="#">Daryll O.</a></p>
                                        <p>San Jose, CA</p>
                                        <p>Rating: *****</p>
                                    </div>
                                    <div class="reviewtext">
                                        <p>This is such an awesome court. The hoop seems bigger than usual tho, since i've been cooking it like James Harden.</p>
                                    </div>
                                </div>


                            <div class="reviewbox">
                                <form>
                                    <div class="form-group">
                                        <label>Write a review:</label>
                                        <textarea class="form-control" name="courtreview" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                                </form>


                            </div>


                        </div>



                    </div>   <!-- end of maincontentcourt -->

                    <div class="col-lg-3" id="rightcontentcourt">
                        <p>aaaa</p>
                    </div>


                    
                </div>











            </div>








        </div>      <!-- end of container -->




    </body>
</html>
    





<!-- 49a76676e913deb3805b87568bba047f      -------- api key for open weather -->

<!-- http://api.openweathermap.org/data/2.5/weather?appid=49a76676e913deb3805b87568bba047f&zip=94040 -->
